<% include header.ejs%>

<h1> Hosting Database</h1>
<!-- error logging -->
<% if (errors!=undefined){%>
<ul>
    <% errors.forEach(function(error){ %>
    <li><%= error.msg%></li>

    <%
    })%>
</ul>
<%}%>

<!--AJAX queries(uses jquery, see javascript.ejs)-->
<label>Find all hosting with maximum prices</label>
<input type="range" name="price" id="priceid2" value="" min="30" max="110" oninput="priceoutid2.value = priceid2.value">
<output name="priceout" id="priceoutid2"><%= price%></output>
<br><br>
<h1><%= title %></h1>
<div id="output"></div>

<!-- Show graph after clicking plot button -->

<button id="target">Plot</button>

<div>
    <canvas id="graph" width="400" height="400"></canvas>
</div>

<% include footer.ejs%>