<% include header.ejs%>
<!-- error logging -->
<% if (errors!=undefined){%>
<ul>
    <% errors.forEach(function(error){ %>
    <li><%= error.msg%></li>
    <%
    })%>
</ul>
<%}%>
<h1> Hosting Database</h1>
<!--AJAX queries(uses jquery, see javascript.ejs)-->
<label>Find all hosting with maximum prices</label>
<input type="range" name="price" id="priceid2" value="" min="30" max="110" oninput="priceoutid2.value = priceid2.value">
<output name="priceout" id="priceoutid2"><%= price%></output>
</br></br>
<!-- result of the query -->
<h1><%= title %></h1>
<div id="output" style="float:left"></div>
<!-- area to hold the plot -->
<div><canvas id="graph" style="float:left" width="400" height="400"></canvas></div>
<!-- Show graph after clicking plot button -->
<div><button onclick="plotData()">Plot</button></div>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
</br></br>
<h2><%="Test"%></h2>
<div> <button onclick="googlepricelist('/users2', 'VMIMAGE')"> Get virtual machines</button> <button onclick="googlepricelist('/users2', 'DATASTORE')"> Get data bases</button> <button onclick="googlepricelist('/users2', 'BIGSTORE')"> Get storages</button> </div>
<div id="output2" style="float:left"></div>

<% include footer.ejs%>`