$contMargin: 20px;

#abouttext{
	margin:$contMargin;
	padding: 20px;
	background-color:white;
	width: calc(100% - #{$contMargin} - 500px);
	float:left;
	border-radius: 10px;
}

#intouch{
	background-color:white;
	width:500px;
	margin:$contMargin;
	border-radius: 10px;
}
