$aboutMargin: 40px;

#aboutContent{
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	min-height: calc(100% - 40px);
	width: calc(100% - 40px);
	background-color:#eeeeee;
}

$contMargin: 20px;

#abouttext{
	margin:$contMargin;
	padding: 20px;
	background-color:white;
	width: calc(100% - 4*#{$contMargin} - 500px);
	float:left;
	border-radius: 10px;
}

#intouch{	
	background-color:white;
	padding:$contMargin;
	width:500px;
	float:right;
	margin:$contMargin;
	border-radius: 10px;
}