@import "about";

html,body{
height:100%;
}

$headerhight: 150px;
.header{
	  color:white;
    margin-bottom: 0px !important;
    position: relative;
    background-color: #343a40;
    padding: 20px;
    padding-top: 70px;
	height:$headerhight;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
}
.content {
    margin-top: 0px !important;
    position: relative;
    background-color: white;
  	width:100%;
  	height:calc(100% - #{$headerhight});
	  min-height: 500px;
}

$filterwidth: 250px;
.filters{
	width:$filterwidth;
	height:100%;
	background-color:#dddddd;
	border-right-style:solid;
	border-color:#cccccc;
	float:left;
}

.canvas{
	width:calc(75% - #{$filterwidth});
	height: 70%;
	float:left;
	border: 2px solid gray;
	background-color: WhiteSmoke;
}

.footer {
    margin-top: 0px !important;
    position: relative;
    background-color: blue;
	  height:100px;
}
ul.source {
    list-style-type: circle;
}
a p,h4{
	color:DarkCyan;
}
