@import "about";

html,body{
height:100%;
}

$headerhight: 150px;
.header{
	  color:white;
    margin-bottom: 0px !important;
    position: relative;
    background-color: #343a40;
    padding: 20px;
    padding-top: 70px;
	height:$headerhight;
	border-bottom-style:solid;
	border-bottom-color:#cccccc;
}

.header a:visited{
	color:white;
}
.content {
    margin-top: 0px !important;
    position: relative;
    background-color: white;
  	width:100%;
  	height:calc(100% - (#{$headerhight} + 36));
	min-height: 500px;
}

$filterwidth: 250px;
.filters{
	width:$filterwidth;
	height:100%;
	background-color:#dddddd;
	border-right-style:solid;
	border-color:#cccccc;
	float:left;
}

.canvas{
	margin-left: 0px;
	width:calc(100% - (#{$filterwidth} + 40px);
	height: 65%;
	float:left;
	border-radius: 3px     5px      5px           3px;
	border-style: solid;
	border: 2px solid gray;
	background-color: WhiteSmoke;
}

.footer {
    margin-top: 0px !important;
    position: relative;
    background-color: blue;
	  height:100px;
}
ul.source {
    list-style-type: circle;
}

a p,h4{
	color:DarkCyan;

}
.content button {
    background-color: DarkCyan;
		border-radius: 5px     5px      5px           5px;
		border-style: solid;
    border-width: 2px;
    color: white;
    padding: 6.3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: DarkCyan;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: DarkCyan;
    cursor: pointer;
}
