
ul h3{
padding:0px;
margin: 0px;}

#top{
width:100%;
height: 180px;
background-color:#e6e6e6;
border-bottom-style:solid;
border-color: #d9d9d9;
color:#20aac5;
text-align:center;
}

#logo{
height:120px;
display:block;
margin-left:auto;
margin-right:auto;
}

#sidebar{
width:220px;
float:left;
background-color:#e6e6e6;
border-right-style:solid;
border-color: #d9d9d9;
height:900px;
	
}

#content{

}

#info{
width:100%;
height:350px;
background-color:red;

}

#company{
height:100%;
background-color:white;
border-right-style:solid;
border-bottom-style:solid;
border-color:#e6e6e6;
width:425px;
float:left;
}

#company img{
margin-top: 20px;
margin-bottom: 20px;
height:150px;
width:auto;
}

#company h1{
margin-left:20px;
}

#company p{
margin-left:20px;
}

#canvas{
width:100%;
height:550px;
background-color:#f2f2f2;
}

#graph1{
width:500px;
height: 450px;
float:left;
border: 2px dotted;
border-color: #bfbfbf;
background-color: white;
margin-right:75px;
margin-left:325px;
}
#graph1 #logo{
height:100px;
margin-bottom:10px;
margin-left:auto;
margin-right:auto;
}
#graph1 img{

}
#graph2{
width:500px;
height: 450px;
float:left;
border: 2px dotted;
border-color: #bfbfbf;
background-color: white;

}

#graph2 #logo{
height:100px;
margin-bottom: 10px;
}
