extends layout

block content
  center
    h1= title
    p Welcome to #{title}.
  center
    div.container
      h2 What is cloudwatch?
      p Cloudwatch is a platform that monitors cloud service prices. The page you're currently viewing is a stub.

